<% content_for :title, "Editing article" %>

<h1>Edit Article</h1>

<%= render "form", article: @article %>

<div class="nav-actions mt-3">
  <%= link_to "View this article", @article %> |
  <%= link_to "Back to articles", articles_path %>
</div>
